$theme-color: #572EE5;
$theme-green: #50E3C2;
$navbar-txt-mobile: 15px;
$gif-hover-color: #572EE5;
$searchbar-font: 'Roboto-Regular';
$btn-font: 'Montserrat-Bold';
$navbar-font: 'Montserrat-Bold';

$theme-color-noct: #37383C;
$font-color-noct: #FFFFFF;
$theme-color-noct2: #222326;
$border-color-noct: #FFFFFF;
$footer-color-noct: #37383C;

$pred-magnif-color: #9CAFC3;

$desktop: 1024px;